body {
  font-family: Montserrat, sans-serif;
  background-color: #00063f;
}
img {
  display: block;
  margin: 0px auto;
  padding: 20px;
  width: 119px;
  height: 40px;
}
.cover {
  background-image: url("/photos/Eurovision-2026.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  border-radius: 10px;
  margin: 20px 30px;
}
.form-container {
  background: #fff;
  height: auto;
  border-radius: 10px;
  margin: 20px 30px;
  padding: 54px;
  border-radius: 10px;
  gap: 10px;
}

h1 {
  margin-left: 30px;
  font-size: 80px;
  color: #fff;
}

h2 {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 400px;
  color: #ffffff;
  font-size: 30px;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
input {
  display: flex;
  width: 320px;
  height: 40px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  background: #e0e0e0;
  flex-direction: column;
  align-items: flex-start;
  font-family: Montserrat, sans-serif;
  flex-wrap: wrap;
}
.personal-info {
  display: inline-grid;
  width: 891px;
  row-gap: 41px;
  column-gap: 141px;

  grid-template-rows: repeat(3, fit-content(100%));
  grid-template-columns: repeat(2, fit-content(100%));
}
div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
  align-items: flex-start;
}
h3 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  grid-template-rows: repeat(3, fit-content(100%));
  grid-template-columns: repeat(3, fit-content(100%));
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
h4 {
  width: 430px;
  height: 30px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h5 {
  color: #434343;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.checkbox-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 9px;
}
.select-billets {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-end;
  align-items: flex-start;
}
.select-country {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
select {
  display: flex;
  height: 40px;
  width: 191px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 50px;
  border: none;
  background: #e0e0e0;
  font-family: Montserrat, sans-serif;
}
.container-selection-billets {
  display: inline-grid;
  row-gap: 40px;
  column-gap: 130px;
  grid-template-rows: repeat(3, fit-content(100%));
  grid-template-columns: repeat(3, fit-content(100%));
}

.container-selection-adresse {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: flex-start;
}
button {
  display: flex;
  width: 219px;
  height: 86px;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #6f3483;
  border: none;
  color: #fff;
}
